* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}

body {
    max-width: 1600px;
    width: 100%;
    margin: auto;
    overflow-x: hidden;
    color: #27292E;
    background-color: #F6F8FA;
}

header {
    height: 950px;
    position: relative;
    color: #ffffff;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    margin: 0 96px;
    border-bottom: 2.5px solid #ffffff4a;
}

.nav-bar > div:first-child {
    display: flex;
    margin-bottom: 14.4px;
    margin-left: 64px;
}

.logo {
    width: 150px;
}

.nav-bar > div:last-child {
    margin-right: 64px;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list li {
    font-size: 1.25rem;
    font-weight: 400;
    margin-right: 72px;
}

.nav-list > li:last-child {
    margin-right: 0;
}

.section-1 {
    margin-top: 147.2px;
}

.container-1 {
    margin-left: 160px;
}

.container-1 h1 {
    font-size: 82px;
    font-weight: 700;
    width: 50%;
}

.container-1 p {
    font-size: 1.25rem;
    font-weight: 400;
    width: 32%;
    line-height: 2.1rem;
    margin-top: 28.8px;
    color: #D8D8CA;
}

.learn-more-button {
    font-size: 1.25rem;
    font-weight: 500;
    padding: 20.8px 56px;
    margin-top: 37.8px;
    border: none;
    border-radius: 50px;
    color: #ffffff;
    background-color: #6663E9;
}

.background-image {
    width: 100%;
    position: absolute;
    bottom: 0%;
    z-index: -2;
}

.color-overlay-1 {
    position: absolute;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    background-color: #000000;
    opacity: 55%;
    z-index: -1;
}

.section-3 {
    height: 80px;
    position: relative;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 100px;
    margin: 0 45px;
    border-radius: 35px;
    position: absolute;
    bottom: 0%;
    left: 0%;
    right: 0%;
    box-shadow: 0px 0px 50px 1px #4348551a;
    background-color: #ffffff;
}

.logo-name {
    width: 165px;
    margin-right: 90px;
}

.logo-container > img:last-child {
    margin-right: 0;
}

.section-4 {
    margin-top: 120px;
}

.container-2 {
    margin: 0 160px;
}

.container-2 h2 {
    font-size: 66px;
    font-weight: 700;
    text-align: center;
    width: 40%;
    margin: auto;
}

.sub-container-1, .sub-container-2, .sub-container-3 {
    display: flex;
    justify-content: space-between;
    margin-top: 68px;
}

.sub-container-2, .sub-container-3 {
    margin-top: 53px;
}

.product-card-1, .product-card-2, .product-card-3, .product-card-4, .product-card-5, .product-card-6, .product-card-7, .product-card-8, .product-card-9 {
    width: 385px;
    height: 487px;
    position: relative;
}

.product-card-2, .product-card-5, .product-card-8 {
    margin-top: 32px;
}

.product-card-3, .product-card-4, .product-card-9 {
    margin-top: 64px;
}

.image-container-1 {
    width: 100%;
    height: 425px;
    overflow: hidden;
    position: relative;
    border-radius: 22px;
}

.card-image-1, .card-image-2, .card-image-3, .card-image-4, .card-image-5, .card-image-6, .card-image-7, .card-image-8, .card-image-9 {
    height: 100%;
    position: absolute;
    right: -48%;
}

.card-image-2 {
    right: -64.5%;
}

.card-image-3 {
    right: -52%;
}

.card-image-4, .card-image-5, .card-image-7 {
    right: -48.5%;
}

.card-image-8 {
    left: -4%;
}

.card-image-9 {
    right: -23%;
}

.card-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 88.5%;
    padding: 27px 21px;
    margin: auto;
    position: absolute;
    bottom: 0%;
    left: 0%;
    right: 0%;
    border-radius: 22px;
    box-shadow: 0px 0px 50px 1px #4348551a;
    background-color: #fff;
}

.card-info div h3 {
    font-size: 26px;
    font-weight: 600;
    color: #434855;
}

.card-info div p {
    font-size: 22px;
    font-weight: 700;
    margin-top: 14px;
    color: #6663E9;
}

.detail-button {
    font-size: 17px;
    font-weight: 500;
    padding: 16px 37px;
    border: none;
    border-radius: 50px;
    color: #ffffff;
    background-color: #6663E9;
}

.section-5 {
    margin-top: 210px;
}

.container-3, .container-4 {
    display: flex;
    gap: 145px;
}

.left-side-1, .right-side-2 {
    position: relative;
}

.image-container-2, .image-container-3 {
    width: 540px;
    height: 540px;
    overflow: hidden;
    margin-left: 132.5px;
    position: relative;
    border-radius: 55px;
}

.image-container-3 {
    margin-right: 132.5px;
    margin-left: 0;
}

.feature-image-1, .feature-image-2 {
    height: 100%;
    position: absolute;
    right: -12%;
}

.feature-image-2 {
    right: -25%;
}

.background-design-1 {
    width: 735px;
    position: absolute;
    top: 14%;
    left: 0%;
    z-index: -1;
}

.background-design-2 {
    width: 735px;
    position: absolute;
    top: 14%;
    right: 0%;
    z-index: -1;
}

.right-side-1, .left-side-2 {
    margin-top: 120px;
    margin-right: 160px;
}

.left-side-2 {
    margin-right: 0;
    margin-left: 160px;
}

.right-side-1 h2, .left-side-2 h2 {
    font-size: 66px;
    font-weight: 700;
    width: 95%;
}

.right-side-1 p, .left-side-2 p {
    font-size: 1.25rem;
    font-weight: 400;
    width: 95%;
    line-height: 2.1rem;
    margin-top: 34px;
    color: #60646D;
}

.early-book-button {
    font-size: 1.25rem;
    font-weight: 500;
    padding: 20.8px 44px;
    margin-top: 47px;
    border: none;
    border-radius: 50px;
    color: #ffffff;
    background-color: #6663E9;
}

.section-6 {
    margin-top: 285px;
}

.section-7 {
    margin-top: 285px;
}

.container-5 {
    text-align: center;
    padding: 85px 0;
    margin: 0 77px;
    border-radius: 75px;
    color: #ffffff;
    background-color: #6663E9;
}

.container-5 h2 {
    font-size: 66px;
    font-weight: 700;
    width: 65%;
    margin: auto;
}

.container-5 p {
    font-size: 1.25rem;
    font-weight: 400;
    width: 55%;
    line-height: 2.1rem;
    margin: auto;
    margin-top: 34px;
    color: #D8D8CA;
}

.subscription-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 64px;
}

.subscription-form > div:first-child {
    display: flex;
    align-items: center;
    position: relative;
}

.email-icon {
    width: 30px;
    position: absolute;
    left: 5%;
}

#email {
    font-size: 1.125rem;
    font-weight: 400;
    width: 500px;
    height: 65px;
    line-height: 65px;
    padding: 0 30px 0 76px;
    margin-right: 21px;
    border: none;
    border-radius: 50px;
    background-color: #5654D1;
    color: #ffffff;
}

#email:focus {
    outline: 3px solid #ffffff;
}

.subscription-form input::placeholder {
    color: #9B9AE4;
}

#subscribe-button {
    font-size: 1.25rem;
    font-weight: 600;
    padding: 20.2px 45px;
    border: none;
    border-radius: 50px;
    color: #6663E9;
    background-color: #ffffff;
}

.section-8 {
    margin: 137px 0;
}

.container-6 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 160px;
}

.footer-logo {
    width: 190px;
    display: flex;
}

.sub-container-4 > div:nth-child(2) {
    display: flex;
    align-items: center;
    gap: 32px;
    margin-top: 30px;
}

.facebook, .twitter, .instagram {
   width: 55px;
}

.sub-container-4 p {
    font-size: 1.375rem;
    font-weight: 400;
    width: 50%;
    line-height: 2.3rem;
    margin-top: 45px;
}

.sub-container-5 {
    display: flex;
    gap: 150px;
}

.location, .contact, .legals {
    font-size: 1.25rem;
    font-weight: 400;
}

.sub-container-5 li h4 {
    font-size: 1.375rem;
    font-weight: 600;
}

.sub-container-5 ul li {
    margin-bottom: 42px;
}

.sub-container-5 > ul > li:last-child {
    margin-bottom: 0;
}